.App {
  text-align: center;
  /*clip-path:polygon(0 0, 100% 0, 100% 85vh, 0 100%)*/

}


.App-header {
  background-color: #222;
  height: 115px;
  padding: 20px;
  color: white;

  animation-name:moveInLeft;
  animation-duration:3s;

  /*background-image: linear-gradient(#7ed56f, #222222)*/

}

.App-title {
    font-size: 1.5em;
    letter-spacing: 1px;

}

.App-intro {
  font-size: large;
}

.fontColor{
  color:black;

}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

.dropdown-menu{
  /**/  /*float:none !important;*/
    /*right: 0;*/
    left:20rem !important;
    position:relative !important;
/*    left:auto !important;*/
}

/*this removes ul/li for in header*/

.routesContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.boards{
    position:relative;
    bottom:10px;
}
.routesContainer .boards{
    letter-spacing: 1px;
    color:red;
    font-size:15px;
    flex-grow:1;
}

.routesContainer .boards:hover{
  transform: scale(1.25);
}


@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform:translateX(-100px);
  }

  80%{

  }

  100%{
    opacity: 1;
    transform:translate(0);

  }
}


.sidebar{
    float:right;
    position:relative;
    z-index:1;
}
#builds{
    display:block;
}

#builds:hover{
    display:block;
    transform: scale(1.25);
}

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}