.App {
  text-align: center;
  /*clip-path:polygon(0 0, 100% 0, 100% 85vh, 0 100%)*/

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

  animation-name:moveInLeft;
  animation-duration:3s;

  /*background-image: linear-gradient(#7ed56f, #222222)*/

}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}

.fontColor{
  color:black;

}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

.dropdown-menu{
  float:none !important;
  right: 0;
  left:auto !important;
}

/*this removes ul/li for in header*/
.weeklyAndTop{
  list-style: none;
}

.weeklyAndTop .leaderboards a{
  color:pink;
}

.leaderboards:hover{
  transform:scale(1.5);
  color:darkblue;
}

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform:translateX(-100px);
  }

  80%{

  }

  100%{
    opacity: 1;
    transform:translate(0);

  }
}